// @file
// Slides

// Show/hide other slides based on which slide is active.
@each $slide in title, dcmouyard, css-guidelines, drupal-8-guidelines, naming-components,
                markup-components, naming-elements, markup-elements, naming-variants, markup-variants,
                naming-states, markup-states, control-markup, template-files, template-variables-renders,
                preprocess-functions, preprocess-function-names, attributes-array,
                title-attributes-array, classes-array, render-array-attributes, theme-functions,
                theme-breadcrumb, theme-feed-icon, gesso, clean-markup-module, final {
  .impress-on-#{$slide} .show-on-#{$slide} {
    opacity: 1;
  }
  .impress-on-#{$slide} .hide-on-#{$slide} {
    opacity: 0;
  }
}

// Special styling for Section Headers.
@each $slide in css-guidelines, control-markup {
  .impress-on-#{$slide} {
    @extend %bg-secondary;
  }
  ##{$slide} {
    text-shadow: darken($f1-ash, 20%) 2px 2px;

    .title {
      margin: 0;
    }
  }
}

%bg-primary {
  background: url(../img/branding/f1-wordmark-white.svg) no-repeat calc(100% - 24px) calc(100% - 18px),
              $f1-red url(../img/branding/f1-thin-circle-white.svg) no-repeat -1150px 50px;
  background-size: 144px 16px, 1800px 1800px;

  a {
    color: $f1-white;
  }
}

%bg-secondary {
  background: url(../img/branding/f1-wordmark-white.svg) no-repeat calc(100% - 24px) calc(100% - 18px),
              $f1-ash url(../img/branding/f1-thin-circle-red.svg) no-repeat -1150px 50px;
  background-size: 144px 16px, 1800px 1800px;
}

.impress-on-title {
  @extend %bg-primary;
}

#title {
  text-shadow: none;

  h1 {
    margin: 0;
  }

  small {
    display: block;
    margin-top: em(32px, 45px);
    text-transform: none;
  }
}

#dcmouyard {
  h3 {
    margin-bottom: 0.5em;
  }

  img {
    background: #000;
  }
}

.impress-on-smacss {
  @extend %picture-background;
  background-image: url(../img/smacss.jpg);
}

.impress-on-clean-markup-blocks {
  @extend %picture-background;
  background-image: url(../img/clean-markup-blocks.jpg);
  background-size: contain;
}

.impress-on-clean-markup-panels {
  @extend %picture-background;
  background-image: url(../img/clean-markup-panels.jpg);
  background-size: contain;
}

.impress-on-manage-display {
  @extend %picture-background;
  background-image: url(../img/manage-display.jpg);
  background-size: contain;
}

.impress-on-field-display {
  @extend %picture-background;
  background-image: url(../img/field-display.jpg);
  background-size: contain;
}

.impress-on-with-ds {
  @extend %picture-background;
  background-image: url(../img/with-ds.jpg);
  background-size: contain;
}

.impress-on-with-ds-layout {
  @extend %picture-background;
  background-image: url(../img/with-ds-layout.jpg);
  background-size: contain;
}

.impress-on-ds-extras {
  @extend %picture-background;
  background-image: url(../img/ds-extras.jpg);
  background-size: contain;
}

.impress-on-ds-extras-field {
  @extend %picture-background;
  background-image: url(../img/ds-extras-field.jpg);
  background-size: contain;
}



.impress-on-all {
  .step {
    opacity: 1;
  }
}
